*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", "Fira Sans", Arial, sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 32px;
  min-width: 1140px;
}

.content__list-container {
  height: 298px;
  overflow-y: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content__details {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 399px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  position: relative;
  margin-bottom: 20px;
}

.result__video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
  min-width: 0;
}

.search-form__fieldset-title {
  color: rgba(255, 255, 255, 1);
  font-family: "Fira Sans Condensed", "Fira Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 2px;
}

.title {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-align: left;
  text-transform: uppercase;
}

.content__card-link {
  display: block;
  color: inherit;
  text-decoration: none;
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.content__video-card-title {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align: left;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", "Fira Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  text-align: left;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 8px;
  outline: 1px solid transparent;
  outline-offset: 2px;
}

.search-form__textfield {
  border: none;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  appearance: none;
  background-color: #1b1919;
  color: #fff;
  font-family: inherit;
  font-size: 18px;
  line-height: 1.2;
  width: 225px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 1);
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: white;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}
.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.search-form__label:has(.search-form__checkbox:focus-visible),
.search-form__label:has(.search-form__textfield:focus-visible) {
  outline-color: #fff;
}

.button {
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 1);
  background-color: transparent;
  font-family: inherit;
  font-size: 18px;
  line-height: 1.2;
  cursor: pointer;
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
}

.search-form__submit-button {
  width: 194px;
  min-height: 34px;
  align-self: flex-end;
}

.more-button {
  height: 34px;
  width: 100%;
}

.button:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.button:active {
  background-color: rgba(84, 80, 80, 1);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline-offset: 2px;
  outline: 1px solid #fff;
}

.button,
.search-form__label {
  cursor: pointer;
}

.content__card-link_current {
  background-color: rgba(84, 80, 80, 1);
}

.content__card-link:active {
  background-color: rgba(84, 80, 80, 1);
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__accent {
  color: rgba(84, 80, 80, 1);
}
